.root {
  max-width: 420px;
  border-radius: 0px !important;
  margin: auto !important;
  justify-self: center;
}

.text {
  font-family: "Helvetica Neue" !important;
  color: black !important;
  align-items: left;
  margin-top: 10px;
}

.titleText {
  height: 50px;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 23px !important;
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.dateText {
  font-size: 18px !important;
  font-weight: 400 !important;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

.cardContent {
  padding: 0 !important;
}

.action {
  border-radius: inherit !important;
}

.box {
  color: white;
  padding: 1rem !important;
  width: 100%;
  background-color: #121212;
}

@media (min-width: 600px) {
  .root {
    max-width: 85%;
  }
}
