.container {
  background-color: white;
  padding: 0 !important;
}

.header {
  max-width: 100vw !important;
  padding: 1rem;
  background-color: black;
  color: white;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.formField {
  margin: 0.7rem !important;
}

.motionFormField {
  margin: 0.7rem !important;
  width: calc(100% - 22px);
}

.formButton {
  background-image: conic-gradient(
    from 45grad at 5% -3%,
    #ff0000,
    50grad,
    #7b64ff
  );
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  margin-top: 0.7rem !important;
}
