.container {
  margin: 2rem;
  border: 2px solid black;
  padding: 1rem;
}

.header {
  padding: 1rem;
  background-color: black;
  color: white;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.formField {
  margin: 0.7rem !important;
}

.formButton {
}
