.footerContainer {
  padding: 10px;
  background-color: #121212;
}

.infoText {
  font-size: 20px !important;
  font-family: "Helvetica Neue" !important;
  font-weight: lighter !important;
  line-height: 30px !important;
  color: white !important;
  align-items: center;
}

.motoText {
  font-size: 44px !important;
  font-family: "Proxima Nova" !important;
  color: white;
  margin: 10px;
}

.motoDot {
  font-size: 44px;
  font-family: "Proxima Nova";
  color: yellow;
}
