.footerBackground {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: "flex-end";
  padding: 10px;
  background-color: #121212;
  bottom: 0;
  left: 0;
  right: 0;
}

.infoText {
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  line-height: 30px;
  color: white;
}

.motoText {
  font-size: 44px;
  font-family: "Proxima Nova";
  color: white;
  margin: 10px;
}

.motoDot {
  font-size: 44px;
  font-family: "Proxima Nova";
  color: yellow;
}
