.Logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0rem;
  background-color: #121212;
  box-shadow: 0px 2px 5px black;
}

.BigText {
  font-size: 60px;
  font-weight: 50;
  margin: 0px;
  padding: 0px;
  color: white;
  text-shadow: 0px 1px 15px ivory;
}

.SmallText {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 16px;
  font-weight: 50;
  font-family: "Helvetica neue", roboto;
}
