.Logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0rem;
  background-color: #121212;
  box-shadow: 0px 2px 5px black;
  cursor: pointer;
}

.BigText {
  font-size: 60px;
  font-weight: 50 !important;
  margin: 0px;
  padding-top: 20px;
  color: white;
  line-height: 45px !important;
}

.SmallText {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 16px;
  font-weight: 50 !important;
  font-family: "Jazz" !important;
}
