.root {
    max-width: 220px;
    background-color: white;
    border-radius: 15px;
    margin: 2rem;
}

.picture {
    max-width: 220px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text{
    font-family: "Helvetica Neue" !important;
    color: black !important;
    align-items: left;
    margin-top: 10px;

}

.titleText {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

.dateText {
    font-size: 14px !important;
    font-weight: lighter !important;
    line-height: 24px !important;
}

