.root {
    max-width: 350px !important;
    height: fit-content !important;
    max-height: 500px !important;
    background-color: black !important;
    border-radius: 15px !important;
    margin: 2rem !important;
}

.contentContainer {
    background-color: #222222 !important;
    border-top: 2px solid #101010 !important;
}

.text {
    color: white !important;
}

.titleText {
    font-weight: 500 !important;
    font-size: 20px !important;
    line-clamp: 2 !important;
}

.dateText {
    font-weight: 100 !important;
    font-size: 14px !important;
}

.aboutText {
    margin-top: 14px !important;
    display: -webkit-box !important;
    overflow: hidden !important;
    box-orient: vertical !important;
}

.chip {
    background-color: #FF2020 !important;
    color: white !important;
    font-weight: 600 !important;
    margin-right: 10px;
}

.actions {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    background-color: #222222 !important;
    padding-top: 0 !important;
}

.button {
    border-radius: 15px !important;
    background: conic-gradient(from 45grad at 5% -3%, #ff0000, 50grad, #7b64ff) !important;
}